*,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

:root {
  /* COLORS */
  --clr-bg: #efe2d7;
  --clr-dark-orange: #f68b1e;
  --clr-orange: #ff9900;
  --clr-white: #fff;
  --clr-off-white: #f1f1f2;
  --clr-black: #000;
  --clr-grey: #75757a;
  --clr-dark-grey: #404040;
  --clr-light-grey: #e5e5e5;

  /* Border Radius */
  --curved-edges: 5px;
  --pill-shape: 100px;
  --full-circle: 50%;

  /* default values */
  --box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  --max-width: 62%;
}

/* GLOBAL STYLING */
.button {
  background-color: var(--clr-dark-orange);
  color: var(--clr-white);
  border: none;
  border-radius: var(--curved-edges);
  font-weight: 600;
  display: inline-block;
  padding: 5px 25px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--clr-orange);
}

input::placeholder {
  color: var(--clr-grey);
}
/* ********** */
/* ********** */

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--clr-off-white);
}

/* **************** */
/* HEADER SECTION  */
/* **************** */

header {
  position: sticky;
  top: -4.5%;
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  z-index: 999;
}
/* BANNER */
.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-off-white);
}

.banner-content {
  display: flex;
  align-items: center;
  width: var(--max-width);
}

.banner button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-orange);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
}

.banner button a {
  color: var(--clr-orange);
  text-decoration: none;
}

.banner button a:hover {
  text-decoration: underline;
}

.banner button:hover {
  text-decoration: underline;
}

.banner button img {
  height: 14px;
  margin-right: 0.3rem;
}

.banner-content .logo {
  height: 0.8rem;
  margin: auto;
}

/* NAVIGATION */
nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
  position: sticky;
  top: 0;
}

.navigation {
  width: var(--max-width);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  color: var(--clr-black);
  font-weight: 600;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.navigation a .logo {
  height: 25%;
}

/* SEARCH BAR */

.searchbar {
  border: 1px solid #75757a80;
  border-radius: var(--curved-edges);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 45%;
  height: 53%;
  margin-left: auto;
}

.searchbar input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.1rem;
}

.searchbar i {
  color: var(--clr-grey);
}

.search-btn {
  height: 53%;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
  margin-right: auto;
  margin-left: 10px;
}

/* NAV LINKS */
nav .nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.nav-links > div {
  position: relative;
}

.navlinks-btn:focus ~ .dropdown {
  display: flex;
}

.navlinks-btn {
  background-color: transparent;
  color: var(--clr-grey);
  border: none;
  border-radius: var(--curved-edges) px;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 5px;
  height: 65%;
  font-size: 1rem;
  cursor: pointer;
}

.navlinks-btn:hover {
  color: var(--clr-orange);
}

/* DROPDOWN */

.signIn button,
.liveChat button {
  padding: 10px 35px;
  font-size: 1rem;
}

.dropdown {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--clr-white);
  border-radius: var(--curved-edges);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.account-dropdown {
  padding-top: 20px;
}

.help-dropdown {
  padding-bottom: 20px;
}

.dropdown-links button {
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--clr-white);
  border: none;
  cursor: pointer;
}

.account-dropdown .dropdown-links button:first-child {
  border-top: 3px solid var(--clr-light-grey);
}

.help-dropdown .dropdown-links button:last-child {
  border-bottom: 3px solid var(--clr-light-grey);
}

.dropdown-links button:hover {
  background-color: var(--clr-light-grey);
}

/* **************** */
/* **************** */

/* ************* */
/* MAIN SECTION */
/* ************* */
/* SECTION 1 */
.content {
  position: relative;
  width: var(--max-width);
  height: 100vh;
  margin: auto;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section {
  width: 100%;
  border-radius: var(--curved-edges);
  display: flex;
  /* border: 1px solid red; */
}

.section-1 {
  height: 800px;
  gap: 10px;
}

.section-1 .right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--curved-edges);
  gap: 10px;
}

.section-1 .right .top {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: var(--curved-edges);
  overflow: hiddden;
}

.section-1 .right .top > div,
.section-1 .right .top > p {
  background-color: var(--clr-white);
  padding: 5px 10px;
}

.section-1 .right .top > p {
  font-size: 1.1rem;
  font-weight: 500;
}

.section-1 .right .top > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.jumia-express img {
  width: 50%;
  object-fit: cover;
}

.jumia-express p {
  font-size: 0.8rem;
  font-weight: 400;
}

.location-delivery p {
  font-size: 1.05rem;
  font-weight: 400;
}

.location-delivery select {
  width: 100%;
  border: 1px solid var(--clr-black);
  border-radius: var(--curved-edges);
  background-color: var(--clr-white);
  border: none;
  border: 1px solid var(--clr-light-grey);
  padding: 15px;
  font-size: 1rem;
  font-weight: 400;
}

.location-delivery select:focus {
  border: 1px solid var(--clr-orange);
  color: var(--clr-orange);
}
.section-1 .right .bottom {
  background-color: var(--clr-white);
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--curved-edges);
}

.section-1 .left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--curved-edges);
}

.section-1 .left .top {
  width: 100%;
  min-height: 65%;
  display: flex;
  gap: 10px;
  border-radius: var(--curved-edges);
  background-color: var(--clr-white);
  overflow: hiddden;
}

.section-1 .left .top .left {
  width: 35%;
  height: 100%;
  padding: 10px;
}

.section-1 .left .top .left img {
  width: 100%;
  height: 70%;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--clr-light-grey);
  border-radius: var(--curved-edges);
  cursor: zoom-in;
}

.section-1 .left .top .left .share p {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.section-1 .left .top .left .share i {
  border: 1px solid var(--clr-black);
  border-radius: var(--full-circle);
  width: 30px;
  aspect-ratio: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  cursor: pointer;
}

.section-1 .left .top .left .share i:hover {
  color: var(--clr-orange);
  border-color: var(--clr-orange);
}

.section-1 .left .top .right {
  width: 65%;
  height: 100%;
  padding: 10px;
}

.section-1 .left .top .right .product-title {
  font-size: 1.2rem;
  padding-right: 30px;
  padding-block: 25px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--clr-light-grey);
}

.price-addToCart {
  display: flex;
  flex-direction: column;
  height: 40%;
  padding-block: 0 25px;
  border-bottom: 1px solid var(--clr-light-grey);
}

.product-price {
  font-size: 1.5rem;
  font-weight: 700;
}

.availability,
.shipping-detail {
  margin-block: auto;
  font-size: 0.8rem;
  color: var(--clr-grey);
}

.rating i {
  color: var(--clr-dark-orange);
}
.add-to-cart {
  margin-top: auto;
  border: none;
  background-color: var(--clr-orange);
  color: var(--clr-white);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: var(--curved-edges);
  box-shadow: var(--box-shadow);
}

.add-to-cart:hover {
  background-color: var(--clr-dark-orange);
}

.add-to-cart p {
  margin: auto;
  font-weight: 700;
}

.promotions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: var(--curved-edges);
}
.promotions a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--clr-black);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 400;
}

.promotions a:hover {
  text-decoration: underline;
}

.promotions a img {
  width: 4.5%;
  aspect-ratio: 1;
}

/* ************* */
/* MEDIA QUERIES */
/* ************* */
@media (max-width: 1566px) {
  :root {
    --max-width: 65%;
  }
}

@media (max-width: 1495px) {
  :root {
    --max-width: 90%;
  }
}

@media (max-width: 1080px) {
  :root {
    --max-width: 97.5%;
  }
}
