*,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

:root {
  /* COLORS */
  --clr-bg: #efe2d7;
  --clr-dark-orange: #f68b1e;
  --clr-orange: #ff9900;
  --clr-white: #fff;
  --clr-off-white: #f1f1f2;
  --clr-black: #000;
  --clr-grey: #75757a;
  --clr-dark-grey: #404040;
  --clr-light-grey: #e5e5e5;

  /* Border Radius */
  --curved-edges: 5px;
  --pill-shape: 100px;
  --full-circle: 50%;

  /* default values */
  --box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  --max-width: 62%;
}

/* GLOBAL STYLING */
.button,
.signInBtn,
.liveChatBtn {
  background-color: var(--clr-dark-orange);
  text-decoration: none;
  color: var(--clr-white);
  border: none;
  border-radius: var(--curved-edges);
  font-weight: 600;
  display: inline-block;
  padding: 5px 25px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--clr-orange);
}

input::placeholder {
  color: var(--clr-grey);
}
/* ********** */
/* ********** */

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--clr-bg);
}

/* **************** */
/* HEADER SECTION  */
/* **************** */

header {
  position: sticky;
  top: -4.5%;
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  z-index: 999;
}
/* BANNER */
.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-off-white);
}

.banner-content {
  display: flex;
  align-items: center;
  width: var(--max-width);
}

.banner button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
}

.banner button a{
  color: var(--clr-orange);
  text-decoration: none;
}

.banner button a:hover {
  text-decoration: underline;
}

.banner button img {
  height: 14px;
  margin-right: 0.3rem;
}

.banner-content .logo {
  height: 1rem;
  margin: auto;
}

/* NAVIGATION */
nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
  position: sticky;
  top: 0;
}

.navigation {
  width: var(--max-width);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  color: var(--clr-black);
  font-weight: 600;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.navigation a .logo {
  height: 25%;
}

/* SEARCH BAR */

.searchbar {
  border: 1px solid #75757a80;
  border-radius: var(--curved-edges);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 45%;
  height: 53%;
  margin-left: auto;
}

.searchbar input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.1rem;
}

.searchbar i {
  color: var(--clr-grey);
}

.search-btn {
  height: 53%;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
  margin-right: auto;
  margin-left: 10px;
}

/* NAV LINKS */
nav .nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.nav-links > div {
  position: relative;
}

div .show {
  display: flex;
}

.navlinks-btn {
  background-color: transparent;
  color: var(--clr-grey);
  border: none;
  border-radius: var(--curved-edges) px;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 5px;
  height: 65%;
  font-size: 1rem;
  cursor: pointer;
}

.navlinks-btn:hover {
  color: var(--clr-orange);
}

/* DROPDOWN */

.signIn .signInBtn,
.liveChat .liveChatBtn {
  color: var(--clr-white);
  padding: 10px 35px;
  font-size: 1rem;
}

.dropdownn {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--clr-white);
  border-radius: var(--curved-edges);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.account-dropdown {
  padding-top: 20px;
}

.help-dropdown {
  padding-bottom: 20px;
}

.dropdown-links button {
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--clr-white);
  border: none;
  cursor: pointer;
}

.account-dropdown .dropdown-links button:first-child {
  border-top: 3px solid var(--clr-light-grey);
}

.help-dropdown .dropdown-links button:last-child {
  border-bottom: 3px solid var(--clr-light-grey);
}

.dropdown-links button:hover {
  background-color: var(--clr-light-grey);
}

/* **************** */
/* **************** */

/* ************* */
/* MAIN SECTION */
/* ************* */

/* SECTION 1 */
.content {
  position: relative;
  width: var(--max-width);
  height: 100vh;
  margin-inline: auto;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section {
  width: 100%;
  border-radius: var(--curved-edges);
  display: flex;
  /* border: 1px solid red; */
}

.section-1 {
  height: 650px;
  flex-direction: column;
  gap: 10px;
}

.section-1 .top-div {
  height: 60%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-div .sidebar {
  height: 100%;
  border-radius: var(--curved-edges);
  width: 25%;
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.top-div .sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}

.top-div .sidebar ul li a {
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--clr-black);
  transition: 0.1s;
}

.top-div .sidebar ul li a:hover {
  color: var(--clr-orange);
}

.top-div .middle {
  border-radius: var(--curved-edges);
  width: 77.5%;
  height: 100%;
}

.top-div .middle img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--curved-edges);
}

.top-div .right {
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-top {
  padding: 0 10px;
  margin: 0;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  border-radius: var(--curved-edges);
}

.right-top li {
  list-style: none;
  width: 100%;
  height: 100%;
}

.right-top li a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--clr-black);
  font-size: 0.8rem;
  font-weight: 600;
}
.right-top li a:hover {
  color: var(--clr-orange);
}
.right-top li img {
  width: 40px;
  object-fit: cover;
  border-radius: var(--curved-edges);
}

.right .right-bottom {
  height: 50%;
  aspect-ratio: 1;
  border-radius: var(--curved-edges);
}

.section-1 .bottom-div {
  height: 40%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--clr-white);
}

.bottom-div .bottom-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: var(--curved-edges);
  transition: 0.1s;
}

.bottom-div .bottom-content:hover {
  scale: 1.01;
  box-shadow: var(--box-shadow);
}
.bottom-div .bottom-content img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: var(--curved-edges);
}

/* ************ */

/* SECTION 2 */
.section-2 {
  flex-direction: column;
  padding: 10px;
  background-color: var(--clr-white);
}
.section-2 span {
  padding-block: 0 20px;
  padding-inline: 20px;
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: space-between;
}

.section-2 span a {
  font-size: 0.9rem;
  color: var(--clr-orange);
  text-decoration: none;
}

.section-2 main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}
.section2-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: var(--curved-edges);
  overflow: hidden;
  transition: 0.1s;
}

.section2-content:hover {
  scale: 1.01;
  box-shadow: var(--box-shadow);
}

.section2-content img,
.section2-content .img {
  width: 100%;
  border-radius: var(--curved-edges);
  aspect-ratio: 1;
}

.section2-content .title {
  font-size: 1.1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ************* */
/* SECTION 3 */
/* ************* */
.section-3 .bottom-div {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--clr-white);
}

/* ************* */
/* MEDIA QUERIES */
/* ************* */
@media (max-width: 1566px) {
  :root {
    --max-width: 65%;
  }
}

@media (max-width: 1495px) {
  :root {
    --max-width: 90%;
  }
}

@media (max-width: 1080px) {
  :root {
    --max-width: 97.5%;
  }
}
